{% extends 'layout.html' %}
{% block body %}
<main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white p-4 p-lg-5 w-100 fmxw-1000">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">Часто задаваемые вопросы</h1>
                    </div>
                    <img src="/static/html/assets/img/questions_desc.png">
                    

                    <div class="container" id="test">
                        <div class="card-body">
                            <div class="qanda">
                                <h5>
                                    Есть ли проблемы с конфиденциальностью?</h5>
                                <hr>
                                <p>
                                    Программное обеспечение не отслеживает ничего на компьютере сотрудника, когда он находится на перерыве или не работает. Таким образом, даже люди, работающие из дома, могут быть спокойны, зная, что они не находятся под наблюдением в свое личное время. Наша позиция в отношении конфиденциальности заключается в том, что компания имеет право знать, чем занимаются сотрудники в рабочее время, и не имеет никакого права знать, чем они занимаются во время перерывов или после работы.
                                 </p>
                            </div>
                            <div class="qanda">
                                <h5>
                                    Является ли это программное обеспечение навязчивым? </h5>
                                <hr>
                                <p>
                                   Мы считаем, что работодатель имеет право знать, чем занимаются его сотрудники во время работы, и не имеет права знать, чем они занимаются, когда не работают. Программное обеспечение не отслеживает никакую активность, когда кто-то не работает (на перерыве и т.д.). Это фактически менее навязчиво, чем аналогичное программное обеспечение, которое отслеживает все использование компьютера и не различает разницу между рабочим и нерабочим временем. </p>
                            </div>
                            <div class="qanda">
                                <h5>
                                    Мне не нужно "контролировать" мою команду. Есть ли какая-то польза от этого программного обеспечения?</h5>
                                <hr>
                                <p>
                                    Абсолютно. Около 20% преимуществ программного обеспечения приходится на функции мониторинга. Остальные 80% приходятся на расширение возможностей вашего персонала для более эффективного управления своим временем и предоставление вам более глубокого понимания того, как время расходуется в вашей организации. Эти сведения позволят вам улучшить процессы в вашем бизнесе, чтобы он работал более эффективно.

                                    Например, одним из основных преимуществ является возможность знать не только, над какими конкретными задачами работают ваши сотрудники, но и сколько времени тратится на какие проекты/клиенты в вашей компании. Это позволяет лучше распределять время в будущем, улучшает коммуникацию с вашей командой, сокращает время, затрачиваемое на ненужные встречи, и дает множество других преимуществ.
                                     </p>
                            </div>

                            <div class="qanda">
                                <h5>
                                    
                                    Законен ли мониторинг сотрудников?

                                 <hr>
                                <p>
                                    В большинстве юрисдикций мониторинг сотрудников является законным без ограничений. Однако могут существовать ограничения на то, какие действия сотрудников вы отслеживаете или записываете. Пожалуйста, проконсультируйтесь с вашим юридическим советником, чтобы убедиться, что вы внедряете мониторинг сотрудников в рамках юридических и нормативных руководств, применимых к вашей организации и юрисдикции. EmployeeTrackingDesk полностью настраивается в отношении своих функций мониторинга и записи, чтобы соответствовать любым юридическим, этическим или нормативным ограничениям.
                                 </p>
                            </div>


                            <div class="qanda">
                                <h5>
                                    Как я могу включить/выключить мониторинг для пользователя или группы?
                                 <hr>
                                <p>
                                    Вы можете включить/выключить мониторинг для пользователя или компьютера, просто нажав соответственно Старт и Стоп в настольном приложении.
                                 </p>
                            </div>



                            <div class="qanda">
                                <h5>
                                    Как я могу измерить продуктивность сотрудников?
                                     <hr>
                                <p>
                                    Благодаря комплексным панелям мониторинга и аналитике сотрудников EmployeeTrackingDesk, работодатели получают бесценное представление о продуктивности и ежедневной рабочей нагрузке.    
                                </p>
                            </div>



                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}