{% extends 'layout.html' %}
{% block body %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="container">
	<div class="row justify-content-between align-items-center">
		<div class="col">
			<div class="card">
				<div class="row card-body">
					<div class="col">
						<h1 class="display-2 mb-4">Программное обеспечение для мониторинга
							сотрудников и управления продуктивностью</h1>
						<h3 class="display-4 mb-4">Сдерживать. Обнаруживать. Предотвращать.</h3>
						<p class="lead mb-4 text-muted">Узнайте точно, чем занимаются ваши
							сотрудники в режиме реального времени.</p>
					</div>
					<div class="col text-right">
						<img src="/static/html/assets/img/group-working-1.gif" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<br />
	<br />

	<div class="row align-items-center my-large">
		<div class="col-md-6">
			<div id="platform-exam_proctoring" class="platform-animation">
				<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_omszt4va.json" background="transparent"
					speed="1" style="width: 300px; height: 300px;" loop autoplay>
				</lottie-player>
			</div>
		</div>
		<div class="col-md-6 col-lg-5 offset-lg-1">
			<h1 class="display-2 mb-4">Наша миссия</h1>
			<p class="lead mb-4 text-muted">Мы стремимся расширить возможности бизнеса по всему миру.
				Наша опытная команда работает днем и ночью, чтобы создавать мощные инструменты
				автоматизации бизнеса, которые могут снизить нагрузку на руководителей и позволить им
				использовать весь потенциал своих человеческих ресурсов.</p>
		</div>
	</div>

	<div class="row align-items-center my-large">
		<div class="col-md-6 order-md-2 offset-lg-1 ">
			<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_fdLGjD.json" background="transparent" speed="1"
				style="width: 600px; height: 500px;" loop autoplay>
			</lottie-player>
		</div>
		<div class="col-md-6 col-lg-5 order-md-1">
			<h1 class="display-2 mb-4">Наше видение</h1>
			<p class="lead mb-4 text-muted">Мы стремимся предоставить комплексный бизнес-пакет для поддержки
				и роста в трудные времена.
				За последние несколько лет бизнес-сектор пережил множество взлетов и падений, которые
				разрушили многие организации до
				основания.

				Наша команда занята разработкой платформы для малых и крупных организаций, использующей мобильные
				технологии и технологии определения местоположения
				для ведения бизнеса, несмотря на все трудности. Мы надеемся создать
				футуристическое облачное рабочее место для
				современных бизнес-команд.</p>
		</div>
	</div>

	<div class="row align-items-center my-large">
		<div class="col-md-6">
			<div id="platform-exam_proctoring" class="platform-animation">
				<img class="mb-3 mt-3" src="/static/html/assets/img/5e8c63b23fc11bddb44045d7_track time from anywhere.svg"
					alt="">
			</div>
		</div>
		<div class="col-md-6 col-lg-5 offset-lg-1">
			<h1 class="display-2 mb-4">Автоматизированный учет посещаемости и мониторинг в реальном времени.</h1>
			<p class="lead mb-4 text-muted">
				Отслеживайте, когда ваши сотрудники приходят и уходят, когда они делают перерывы, и сколько
				времени они фактически потратили на работу
				в течение учтенного времени.<br />
				Проверяйте, чем занимаются ваши удаленные сотрудники в любой момент дня.
			</p>
		</div>
	</div>

	<div class="row align-items-center my-large">
		<div class="col-md-6 order-md-2 offset-lg-1 ">
			<img class="mb-3 mt-3" src="/static/html/assets/img/07-application-usage.png" alt="">
		</div>
		<div class="col-md-6 col-lg-5 order-md-1">
			<h1 class="display-2 mb-4">Использование приложений.</h1>
			<p class="lead mb-4 text-muted">Проведите проверку продуктивности ваших сотрудников с помощью функции использования приложений.
				Использование приложений помогает вам точно определить детали приложений,
				используемых сотрудниками в рабочее время.</p>
		</div>
	</div>


	<div class="row align-items-center my-large">
		<div class="col-md-6">
			<img class="mb-3 mt-3" src="/static/html/assets/img/5e738de38fd6df29784ec1d6_ill3.svg" alt="">
		</div>
		<div class="col-md-6 col-lg-5 offset-lg-1">
			<h1 class="display-2 mb-4">Получайте скриншоты экранов ваших сотрудников</h1>
			<p class="lead mb-4 text-muted">EmployeeTrackingDesk обеспечивает 100% прозрачность, делая снимки экрана
				через фиксированные интервалы времени.</p>
		</div>
	</div>

	<div class="row align-items-center my-large">
		<div class="col-md-6 order-md-2 offset-lg-1 ">
			<img class="mb-3 mt-3" src="/static/html/assets/img/20-reports.png" alt="">
		</div>
		<div class="col-md-6 col-lg-5 order-md-1">
			<h1 class="display-2 mb-4">Наблюдайте и анализируйте</h1>
			<p class="lead mb-4 text-muted">EmployeeTrackingDesk позволяет вам наблюдать и анализировать
				производительность ваших сотрудников, чтобы вы могли принимать правильные
				решения.</p>
		</div>
	</div>

	<div class="row align-items-center my-large">
		<div class="col-md-6">
			<img class="mb-3 mt-3" src="/static/html/assets/img/5e738de17ea4ad3bc7625849_ill4.svg" alt="">
		</div>
		<div class="col-md-6 col-lg-5 offset-lg-1">
			<h1 class="display-2 mb-4">Организуйте ваши проекты и задачи</h1>
			<p class="lead mb-4 text-muted">Разбивайте проекты на более мелкие задачи, назначайте их сотрудникам
				и устанавливайте приоритеты, чтобы вся ваша команда знала, что им
				следует делать дальше.</p>
		</div>
	</div>

	<div class="row align-items-center my-large">
		<div class="col-md-6 order-md-2 offset-lg-1 ">
			<img class="mb-3 mt-3" src="/static/html/assets/img/Hybrid_Workforce_Animated_Hero_Banner.gif">
		</div>
		<div class="col-md-6 col-lg-5 order-md-1">
			<h1 class="display-2 mb-4">Модернизируйте решение для встреч вашей проектной команды</h1>
			<p class="lead mb-4 text-muted">EmployeeTrackingDesk предоставляет инструменты для проведения каждой встречи на
				высоком уровне.

				Сосредоточьтесь на встречах по проекту без каких-либо помех.
				Делитесь и воспроизводите видео с полной передачей аудио и видео без загрузки контента.
			</p>
		</div>
	</div>


	<div class="row align-items-center my-large">
		<div class="col-md-6">
			<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_Tcz0nk.json" background="transparent" speed="1"
				style="width: 500px; height: 500px;" loop autoplay></lottie-player>
		</div>
		<div class="col-md-6 col-lg-5 offset-lg-1">
			<h1 class="display-2 mb-4">Интерактивные панели мониторинга для организации и сотрудников</h1>
			<p class="lead mb-4 text-muted">Интерактивная панель мониторинга для организации и сотрудников для связи
				с различными действиями и проверки статистики
				продуктивности сотрудников</p>
		</div>
	</div>

	<div class="row align-items-center my-large">
		<div class="col-md-6 order-md-2 offset-lg-1 ">
			<img class="mb-3 mt-3" src="/static/html/assets/img/5e738de1f523aa6599c4b1c1_ill2.svg" alt="">
		</div>
		<div class="col-md-6 col-lg-5 order-md-1">
			<h1 class="display-2 mb-4">Повышайте продуктивность сотрудников</h1>
			<p class="lead mb-4 text-muted">Отслеживайте, какие приложения и веб-сайты используют ваши удаленные сотрудники
				в рабочее время, включая частоту использования и время,
				потраченное на каждое из них.<br />
				Категоризируйте все приложения и веб-сайты, которые использует ваша команда, на продуктивные или непродуктивные, и
				просматривайте расширенные графики и отчеты о продуктивности их рабочего времени.
			</p>
		</div>
	</div>
</div>

<br>

<div class="container">
	<div class="card shadow bg-white text-primary">
		<div class="card-body">

			<div class="container">
				<div class="row">
					<div class="col-10 offset-1">
						<h1 class="text-center">От глобального до детального, смотрите
							ключевые показатели эффективности, которые имеют значение</h1>
						<h3 class="text-center">Преданы вашему успеху</h3>
						<div class="row  justify-content-center feature-container">

							<div class="col-12 col-md-4">
								<div class="container">
									<div class="row ">
										<div class="col-12">
											<p><img class="img-fluid services-feature-img" src="/static/html/assets/img/j1.png"
													alt="Dedicated Account Team">
											</p>
										</div>
										<div class="col-12">
											<h6 class="text-center">
												Повышение эффективности
												сотрудников

											</h6>
											<p class="text-center">
												Когда вы можете анализировать
												производительность отдельных членов
												вашей команды в реальном
												времени, это даст вам возможность
												принимать мудрые решения
												для повышения их
												эффективности и направлять
												их к тому, чтобы стать лучшими
												профессионалами.
											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 col-md-4">
								<div class="container">
									<div class="row ">
										<div class="col-12">
											<p><img class="img-fluid services-feature-img" src="/static/html/assets/img/j2.png"
													alt="Dedicated Account Team">
											</p>
										</div>
										<div class="col-12">
											<h6 class="text-center">
												Выполнение задач
												вовремя

											</h6>
											<p class="text-center">
												EmployeeTrackingDesk
												трекер сотрудников
												позволяет назначать и
												отслеживать прогресс задачи через
												централизованную панель управления для
												обеспечения своевременного выполнения всех проектов
												без ущерба для качества.

											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 col-md-4">
								<div class="container">
									<div class="row ">
										<div class="col-12">
											<p><img class="img-fluid services-feature-img" src="/static/html/assets/img/j3.png"
													alt="Dedicated Account Team">
											</p>
										</div>
										<div class="col-12">
											<h6 class="text-center">
												Устранение
												ненужных потерь
												времени

											</h6>
											<p class="text-center">
												Оценивая каждую
												минуту работы членов вашей
												команды, вы можете выявить
												все ненужные
												временные пробелы, которые
												задерживают вашу
												команду и мешают соблюдать
												график.
											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 col-md-4">
								<div class="container">
									<div class="row ">
										<div class="col-12">
											<p><img class="img-fluid services-feature-img" src="/static/html/assets/img/j4.png"
													alt="Dedicated Account Team">
											</p>
										</div>
										<div class="col-12">
											<h6 class="text-center">
												Увеличение прибыли

											</h6>
											<p class="text-center">
												Вы можете дать мощный толчок
												вашей годовой прибыли,
												делая ваших сотрудников
												более продуктивными и
												используя их время
												систематическим образом.

											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 col-md-4">
								<div class="container">
									<div class="row ">
										<div class="col-12">
											<p><img class="img-fluid services-feature-img" src="/static/html/assets/img/j5.png"
													alt="Dedicated Account Team">
											</p>
										</div>
										<div class="col-12">
											<h6 class="text-center">
												Улучшение управления
												временем сотрудников

											</h6>
											<p class="text-center">
												Мгновенные оповещения и
												отслеживание в реальном времени
												помогут вам лучше управлять
												временем ваших сотрудников и
												устанавливать их ежедневный график
												для
												повышения их
												продуктивности в кратчайшие сроки.

											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 col-md-4">
								<div class="container">
									<div class="row ">
										<div class="col-12">
											<p><img class="img-fluid services-feature-img" src="/static/html/assets/img/j6.png"
													alt="Dedicated Account Team">
											</p>
										</div>
										<div class="col-12">
											<h6 class="text-center">
												Конфиденциальность для сотрудников

											</h6>
											<p class="text-center">
												Несмотря на отслеживание
												в реальном времени,
												конфиденциальность ваших
												сотрудников никогда не будет
												скомпрометирована
												с помощью этого инструмента. Мы
												позаботились о том, чтобы
												только авторизованные лица
												имели доступ к личной
												информации ваших сотрудников.

											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 col-md-4">
								<div class="container">
									<div class="row ">
										<div class="col-12">
											<p><img class="img-fluid services-feature-img" src="/static/html/assets/img/j7.png"
													alt="Dedicated Account Team">
											</p>
										</div>
										<div class="col-12">
											<h6 class="text-center">
												Поддержание дисциплины
												в вашей организации

											</h6>
											<p class="text-center">
												Обеспечьте, чтобы члены
												вашей команды всегда работали
												в строгой
												дисциплинарной среде
												с графическими отчетами
												отслеживания времени
												и функциями повышения
												производительности.

											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 col-md-4">
								<div class="container">
									<div class="row ">
										<div class="col-12">
											<p><img class="img-fluid services-feature-img" src="/static/html/assets/img/j8.png"
													alt="Free Technical Support">
											</p>
										</div>
										<div class="col-12">
											<h6 class="text-center">
												Повышение
												продуктивности ваших
												сотрудников

											</h6>
											<p class="text-center">
												Используя панель отслеживания
												в реальном времени, вы можете
												определить точки соприкосновения,
												стоящие за низкой
												производительностью отдельных
												сотрудников, и
												разработать эффективные
												стратегии для повышения их
												производительности,
												следуя сострадательному
												и стратегическому подходу

											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="container">
									<div class="row ">
										<div class="col-12">
											<p><img class="img-fluid services-feature-img" src="/static/html/assets/img/j9.png"
													alt="Unmatched Scalability">
											</p>
										</div>
										<div class="col-12">
											<h6 class="text-center">
												Прозрачность между
												руководителем и сотрудником

											</h6>
											<p class="text-center">
												Программное обеспечение для отслеживания
												времени сотрудников устранит
												все барьеры между
												руководителями и сотрудниками,
												чтобы создать прозрачную
												рабочую
												среду и построить
												здоровые отношения
												между членами команды.

											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="container">
									<div class="row ">
										<div class="col-12">
											<p><img class="img-fluid services-feature-img" src="/static/html/assets/img/j10.png"
													alt="User Satisfaction">
											</p>
										</div>
										<div class="col-12">
											<h6 class="text-center">
												Выявление и устранение
												непродуктивных действий

											</h6>
											<p class="text-center">
												Руководители могут точно
												определить все действия,
												которые делают членов их
												команды непродуктивными, и
												разработать стратегии для
												устранения всех этих
												действий без
												наказания сотрудников.

											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="container">
									<div class="row ">
										<div class="col-12">
											<p><img class="img-fluid services-feature-img" src="/static/html/assets/img/j11.png"
													alt="Unparalleled Uptime">
											</p>
										</div>
										<div class="col-12">
											<h6 class="text-center">
												Лучшее планирование проектов

											</h6>
											<p class="text-center">
												Возможность лучше
												понимать и разбивать
												проект на небольшие
												выполнимые задачи
												предоставляется
												программным обеспечением
												EmployeeTrackingDesk для управления
												проектами удаленным
												командам.

											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="container">
									<div class="row ">
										<div class="col-12">
											<p><img class="img-fluid services-feature-img" src="/static/html/assets/img/j12.png"
													alt="Technology">
											</p>
										</div>
										<div class="col-12">
											<h6 class="text-center">
												Никогда не пропускайте
												уведомления

											</h6>
											<p class="text-center">
												Когда организация назначает
												задачу, создает встречу
												и т.д., каждое уведомление
												будет отправлено
												сотрудникам.

											</p>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>



</div>
</div>
</div>

</div>
</div>

{% endblock %}