package-lock.json
.venv
.venv/
.venv/*
__pycache__
__pycache__/*
*.pyc
*.pyc/*
*.pyo
*.pyo/*
*.pyd
*.pyd/*
*.whl
*.whl/*
*.egg-info
*.egg-info/*
*.egg
*.egg/*
*.dist-info
*.dist-info/*
*.egg-link
*.egg-link/*
*.so
*.so/*
*.dll
*.dll/*
*.dylib
*.dylib/*
*.lib
*.lib/*
*.a